<div class="container">
    <div class="jumbotron" > 
        <h1 class="display-4"></h1> <!-- Sakshi Bharti(300991470)-->

        <h1>Sakshi Bharti <img src="assets/images/sakshi.jpg" style="height:300px; float:right; margin-top:25px; border: solid black 4px; padding: 2px"></h1>
        <p><b> 
I am a graduate from Centennial College, with a diploma in Software Engineering Technology.
During my academic studies at Centennial college I have developed key technical skills in the area of Software Technology. 
My soft interpersonal skills include Multitasking, Leadership Tasks.
These skills have developed my ability to perform well under pressure, multiple tasks.
My related work-experience include learning more about technical skill and also how to perform
in team.</b> </p>
<p style="margin-right:200px"><b>My years of experience in the area of Software Technology will help me excel at this 
position and become a valued member of your team.
The qualities I bring to your company and this job are positive attitude, flexibility. I am confident that I am the best candidate for this job because I have knowledge of all the required technologies and also have the ability to effectively prioritize and execute tasks in high-pressure environment.
</b> </p>

<p>
    <a style="margin-top:65px;margin-left:45%" class="btn btn-primary" href="assets/documents/Resume.pdf" role="button" ><b>Resume -></b></a></p>

        </div>
        </div>
