

<div class="container">
    <div class="jumbotron" > 
        <h1 class="display-4"></h1> <!-- Sakshi Bharti(300991470)-->
        <h1 style="margin-left:40%"><b>Hi, I am Sakshi! </b> </h1>
        <p> <b>My personal mission is to always live with integrity, positivity  and 
            strive to use everyday and every experience as an opportunity for improvement and growth. 
        I intend to apply this to my life personally and professionally.
         I present here a brief introduction about myself.</b>  </p>
         <a style="margin-left:45%" class="btn btn-primary" href="/about" role="button" ><b>About Me -></b></a>  
       </div>
       </div>