<div class="container">
  <div class="jumbotron" > 
      <h1 class="display-4"></h1> <!-- Sakshi Bharti(300991470)-->

<h1 style="margin-top:-45px; margin-left:35%"><b>Contact Information</b></h1>
  <h2><b>Sakshi Bharti</b></h2>
  <p><b>Primary Email:</b></p>
  <p>sakshibharti1@gmail.com</p>
  <p><b>Contact Number:</b></p>
  <p>(+1)416-579-8744</p>

  </div>
</div>

<div *ngIf="isLoggedIn()" class="container">
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header alert-success">Secure</h5>
        <div class="card-body">
          <a routerLink="contact-list" class="btn btn-primary"><i class="fas fa-users fa-lg"></i> Contact List</a>
        </div>
      </div>
    </div>
  </div>
</div>
