<div class="container">
    <div class="jumbotron" > 
        <h1 class="display-4"></h1> <!-- Sakshi Bharti(300991470)-->
        <h1 style="margin-top:-45px; margin-left:35%"><b>Projects Information</b></h1> 
            <h2><b>Implemented Projects are:</b></h2>
            <h1>TTCPay <img src="assets/images/ttcpay.PNG" style="height:300px; float:right; margin-top:15px; border: solid black 4px; padding: 2px"></h1>
            <p> 
    In this project, we explore the methods which are currently used and 
    built an application which will allow the user to register oneself, purchase and 
    activate a TTC ticket or a pass containing a bar code which can further be scanned by the drivers. 
    With this app, we provided a flexible, easy and a convenient way to travel on TTC buses.   </p>
    <p style="margin-right:200px">This project holds a great significance to the Toronto transit riders who commute daily by buses and streetcars. Losing paper tickets, waiting in long queues to buy monthly bus passes, shortage of coins while paying the fare and 
    many other such issues are faced by people on daily basis.
      </p>
      <br>
      <h1>MovieWorld <img src="assets/images/movie.JPG" style="height:230px; float:right; margin-top:15px; border: solid black 4px; padding: 2px"></h1>
    <p> 
    In this project, I have implemented a Web Application by using ASP.NET Core MVC Template 
    and host the app in AWS Elastic BeanStalk. The web application is all about implementing a Movie web app 
    similar to Netflix. It allows registered customers to upload or download a movie. 
    Also, a customer can provide the feedback for a movie by rating it.  </p>
    <p style="margin-right:200px">This project also allows the customer to write the comments about a movie.
      </p>
    
      <br>
      <h1>ElectronicsProduct <img src="assets/images/apiproject.jpg" style="height:240px; float:right; margin-bottom:50px; border: solid black 4px; padding: 2px"></h1>
    <p> 
    In this project, an API application was built using C# on visual studio.
    The basic aim of API is to allow customers to search for different electronic products along with their costs. 
    In order to build this website, Apigee platform was used to manage the API and the project was published to AWS cloud services.   </p>
    <p style="margin-right:200px">This project holds a great significance to the people who find difficulties while searching for electronic products. 
    
      </p>
        </div>
        </div>
