

<div class="container">
    <div class="jumbotron" > 
        <h1 class="display-4"></h1> <!-- Sakshi Bharti(300991470)-->
        <h1 style="margin-top:-45px; margin-left:35%"><b>Services Information</b></h1>
        <h2><b>Provided Services are:</b></h2>
        <p><b>Web Development</b></p> 
        <p><img src="assets/images/web.jpg" style="height:200px; float:left; border: solid black 4px; padding: 2px"></p><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><p style="margin-right:15%; margin-top:-120px"><b>Mobile Application Development</b></p>
        <p><img src="assets/images/mobile-app-development.jpg" style="height:175px; float:left; border: solid black 4px; padding: 2px"></p><br> <br><br><br>
        <br><br><br><br><p><b>JAVA</b></p>
        <p><img src="assets/images/java.jpg" style="height:200px; float:left; border: solid black 4px; padding: 2px"></p><br> 
        <p style="float:right;margin-top:-560px;margin-right:40%"><b>JAVAScript</b></p>
        <p><img src="assets/images/javascript.png" style="height:200px;width:500px; float:right; margin-top:-530px;margin-right:5%;border: solid black 4px; padding: 2px"></p><br> 
        <br><br><br><br><p style="float:right;margin-top:-440px;margin-right:40%"><b>Data Structures</b></p>
        <p><img src="assets/images/ds.jpg" style="height:250px; float:right; margin-top:-405px;margin-right:16%;border: solid black 4px; padding: 2px"></p><br>     
    </div>
</div>
